<p id="notice"><%= notice %></p>

<%= render 'shared/breadcrumb' %>

<%= turbo_stream_from "products" %>
<%= turbo_frame_tag "products" do %>
  <%= render partial: 'products/item', locals: {item: @product} %>
<% end %>