<!DOCTYPE html>
<html>
  <head>
    <title>Cosmetics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>" data-controller='main'>
    <%= render 'layouts/partials/navbar/index' %>
    
    <div class='container-fluid'>
      <%= yield %>
    </div>

    <% if content_for? :use_svg %>
      <%= render "layouts/partials/svg/#{yield(:use_svg)}" %>
    <% end %>
  </body>
</html>
